.footer {
  padding: var(--sp-20) 0;
  background: #1D2027;
}

.footer__inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__symbol {
  width: 70px;
  height: 70px;
}

.footer__brand-text strong {
  font-family: var(--font-title);
  font-size: var(--fs-2xl);
  color: #fff;
}

.footer__brand-text strong span {
  color: var(--color-primary);
}

.footer__brand-text p {
  margin-top: 8px;
  font-size: var(--fs-md);
  color: #fff;
}

.footer__info {
  font-size: var(--fs-base);
  line-height: 1.6;
  font-weight: 700;
  color: #fff;
}

.footer__call p {
  margin-bottom: var(--sp-6);
  font-family: var(--font-title);
  font-size: var(--fs-2xl);
  color: #fff;
}

.footer__call strong {
  font-size: var(--fs-2xl);
  font-weight: 800;
  color: var(--color-primary);
}

.footer__top {
  position: absolute;
  right: 0;
  bottom: -30px;

  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;

  background: var(--color-primary);
  color: #000;

  font-size: 26px;
  font-weight: 800;
  cursor: pointer;
}

/* mobile */
@media (max-width: 767px) {
  .footer {
    padding: 54px 0;
  }

  .footer__inner {
    flex-direction: column;
    gap: 24px;
  }

  .footer__symbol {
    width: 44px;
    height: 44px;
  }

  .footer__brand-text strong {
    font-size: var(--fs-lg);
  }

  .footer__brand-text p {
    font-size: var(--fs-xs);
  }

  .footer__info {
    font-size: var(--fs-xs);
    line-height: 1.6;
  }

  .footer__call {
    display: none;
  }

  .footer__top {
    right: 20px;
    bottom: 10px;
    width: 48px;
    height: 48px;
    font-size: 13px;
  }
}